.resetPage {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 252px 135px 252px;
  background: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.resetCard {
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 3px;
  width: 390px;
  height: 537px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

