.pageWrapper {
  position: relative;
  width: calc(100% - 244px);
  min-height: 100vh;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  margin-left: 244px;
  overflow-x: hidden;
}

.content {
  flex: 1;
  padding: 58px 56px 0 56px;
  min-height: 0;
  border-left: 1px solid var(--color-border);
}

