.form {
  position: absolute;
  height: 462px;
  left: 0;
  right: 0;
  top: 113px;
}

.taglineContainer {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 0;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.taglineText {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text-light);
  text-align: center;
  line-height: 20px;
  margin: 0;
}

.inputWrapper {
  position: absolute;
  left: 40px;
  right: 40px;
  height: 38px;
}

.emailInput {
  top: 76px;
}

.fullNameInput {
  top: 120px;
}

.usernameInput {
  top: 164px;
}

.passwordInput {
  top: 208px;
}

.legalContainer {
  position: absolute;
  left: 40px;
  right: 40px;
  top: 272px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.legalTextRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
}

.legalText {
  font-family: var(--font-family-base);
  font-size: 11.8px;
  font-weight: 400;
  color: var(--color-text-light);
  text-align: center;
  line-height: 16px;
  margin: 0;
}

.legalLink {
  color: #00376b;
  text-decoration: none;
}

.legalLink:hover {
  text-decoration: underline;
}

.buttonWrapper {
  position: absolute;
  left: 40px;
  top: 378px;
  width: 268px;
  height: 32px;
}

