* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family-base);
  background-color: #ffffff;
  color: #000000;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
input,
textarea {
  border: none;
  outline: none;
  font-family: var(--font-family-base);
}
select {
  border: none;
  outline: none;
  font-family: var(--font-family-base);
}
