.form {
  position: absolute;
  height: 275px;
  left: 0;
  right: 0;
  top: 113px;
}

.inputWrapper {
  position: absolute;
  left: 40px;
  right: 40px;
  height: auto;
  min-height: 38px;
  display: flex;
  flex-direction: column;
}

.errorText {
  color: #ed4956;
  font-family: var(--font-family-base);
  font-size: 12px;
  font-weight: 400;
  margin: 4px 0 0 0;
  padding: 0;
  line-height: 16px;
}

.usernameInput {
  top: 24px;
}

.passwordInput {
  top: 68px;
}

.buttonWrapper {
  position: absolute;
  left: 40px;
  top: 120px;
  width: 268px;
  height: 32px;
}

.dividerContainer {
  position: relative;
  width: 100%;
  height: 1px;
  top: 180px;
}

.divider {
  position: absolute;
  height: 1px;
  background-color: #dbdbdb;
  top: 0;
}

.divider:first-of-type {
  left: 40px;
  right: 202px;
}

.divider:last-of-type {
  left: 202px;
  right: 40px;
}

.dividerText {
  position: absolute;
  left: 164px;
  top: 2px;
  transform: translateY(-50%);
  font-family: var(--font-family-base);
  font-size: 13px;
  font-weight: 600;
  color: var(--color-text-light);
  text-transform: uppercase;
  width: 20px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgotPasswordLink {
  position: absolute;
  left: 0;
  right: 0;
  top: 259px;
  height: 16px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.forgotPasswordText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-family-base);
  font-size: 12px;
  color: #00376b;
  text-align: center;
  width: 96px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
