.footer {
  position: relative;
  width: calc(100% - 244px);
  height: 158px;
  background: var(--color-background);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 202;
}

.linksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 24px;
}

.link {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #737373;
  text-decoration: none;
  line-height: 16px;
  white-space: nowrap;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #737373;
  line-height: 16px;
  margin: 0;
  margin-top: 50px;
  text-align: center;
}
