.textFieldContainer {
  width: 100%;
}

.label {
  margin-bottom: 4px;
  font-size: 12px;
  color: #262626;
}

.custom_input {
  display: inline-flex;
  height: 38px;
  padding: 0 8px;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
  width: 100%;
  max-width: 300px;
  color: #737373;
  font-family: var(--font-family-base);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  box-sizing: border-box;
}

.custom_input:focus {
  outline: none;
  border: 1px solid #00376b;
}

.custom_input::placeholder {
  color: #737373;
}

.custom_input.error {
  border-color: #ed4956;
}

.errorText {
  margin-top: 4px;
  color: #ed4956;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0;
}

