.homePage {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  padding-left: 245px;
}

.mainContent {
  position: relative;
  width: 100%;
  padding: 58px 78px 0 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(2, 470px);
  gap: 40px 40px;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-bottom: 40px;
}

.endIndicator {
  position: relative;
  width: 100%;
  max-width: 980px;
  height: 216px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.endIcon {
  width: 83px;
  height: 83px;
  margin-bottom: 20px;
}

.endTitle {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #000000;
  line-height: 21px;
  text-align: center;
  margin-bottom: 8px;
}

.endSubtitle {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #737373;
  line-height: 16px;
  text-align: center;
}

