.homePage {
  position: relative;
  width: calc(100% - 244px);
  min-height: 100vh;
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  margin-left: 244px;
  border-left: 1px solid var(--color-border);
  overflow-x: hidden;
}

.mainContent {
  position: relative;
  width: 100%;
  padding: 58px 0 0 26px;
  display: flex;
  flex-direction: column;
   flex: 1;
  min-height: 0;
}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(2, 397px);
  gap: 40px;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-bottom: 40px;
}

.endIndicator {
  position: relative;
  width: 100%;
  max-width: 980px;
  height: 216px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.endIcon {
  width: 83px;
  height: 83px;
  margin-bottom: 20px;
}

.endTitle {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #000000;
  line-height: 21px;
  text-align: center;
  margin-bottom: 8px;
}

.endSubtitle {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #737373;
  line-height: 16px;
  text-align: center;
}
