.btn {
  width: 100%;
  height: 32px;
  padding: 7px 0;
  border: none;
  border-radius: 8px;
  background-color: #0095f6;
  color: #fff;
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #0085e5;
}
