.pageWrapper {
  margin-left: 244px;
  min-height: calc(100vh - 158px);
  display: flex;
  flex-direction: column;
  position: relative;
  background: #ffffff;
}

.content {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 158px);
  padding: 0;
}

.errorCode {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 120px;
  font-weight: 700;
  color: #000000;
  line-height: 150px;
  opacity: 0.15;
  z-index: 10;
}

.backgroundContainer {
  position: relative;
  width: 1195px;
  height: 897px;
  background: #ffffff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 119px;
}

.phonesContainer {
  position: relative;
  width: 301.033px;
  height: 460px;
  flex-shrink: 0;
}

.phoneWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.phoneBack {
  transform: translateX(-30px) translateY(20px) rotate(-5deg);
  z-index: 1;
  opacity: 0.8;
}

.phoneFront {
  transform: translateX(30px) translateY(-20px) rotate(5deg);
  z-index: 2;
}

.phoneContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.phoneBackground {
  position: absolute;
  width: 123.14%;
  height: 109.12%;
  left: -12.1%;
  top: 0;
  object-fit: cover;
}

.phoneImage {
  position: absolute;
  left: 89.57px;
  top: 16.69px;
  width: 197.887px;
  height: 426.51px;
  object-fit: contain;
  z-index: 2;
}

.errorMessage {
  margin-left: 44px;
  max-width: 625px;
  text-align: left;
  flex-shrink: 0;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  margin: 0 0 16px 0;
  line-height: 57px;
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #737373;
  line-height: 20px;
  margin: 0;
  max-width: 475px;
}

@media (max-width: 1440px) {
  .backgroundContainer {
    width: 100%;
    max-width: 1195px;
    height: auto;
    min-height: 897px;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .phonesContainer {
    margin-bottom: 40px;
  }

  .errorMessage {
    margin-left: 0;
    max-width: 100%;
    text-align: center;
  }

  .errorCode {
    position: relative;
    top: auto;
    left: auto;
    margin-bottom: 20px;
  }
}
